# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Docker-related files
*.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/

# Streamlit cache
.streamlit/
